services:
    db:
        image: postgres:16-alpine
        container_name: tyre_db
        restart: always
        environment:
            POSTGRES_USER: admin
            POSTGRES_PASSWORD: secret_password
            POSTGRES_DB: tyre_conbiner_db
        ports:
            - "5432:5432"
        volumes:
            - ./postgres_data:/var/lib/postgresql/data

    redis:
        image: redis:7-alpine
        container_name: tyre_redis
        restart: always
        ports:
            - "6379:6379"

    nocodb:
        image: nocodb/nocodb:latest
        container_name: tyre_admin_panel
        restart: always
        environment:
            NC_DB: "pg://db:5432?u=admin&p=secret_password&d=tyre_combiner_db"
        ports:
            - "8080:8080"
        depends_on:
            - db

volumes:
    postgres_data:
