services:
    db:
        image: postgres:16-alpine
        container_name: tyre_db
        restart: always
        environment:
            POSTGRES_USER: admin
            POSTGRES_PASSWORD: secret_password
            POSTGRES_DB: tyre_combiner_db
        ports:
            - "5432:5432"
        volumes:
            - ./postgres_data:/var/lib/postgresql/data
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U admin -d tyre_combiner_db"]
            interval: 5s
            timeout: 5s
            retries: 5

    redis:
        image: redis:7-alpine
        container_name: tyre_redis
        restart: always
        ports:
            - "6379:6379"

    nocodb:
        image: nocodb/nocodb:latest
        container_name: tyre_admin_panel
        restart: always
        environment:
            NC_DB: "pg://db:5432?u=user&p=secret_password&d=nocodb"
        ports:
            - "8080:8080"
        volumes:
            - ./nocodb_data:/usr/app/data
        depends_on:
            db:
                condition: service_healthy

networks:
    default:
        name: tyre_network
        driver: bridge
